---
import InstagramSVG from './icons/Instagram.astro'
---

<a
  class='bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 text-white hover:bg-purple-700 hover:contrast-150 hover:scale-105 hover:-rotate-1 col-span-2 xl:col-span-1 flex md:text-xl items-center justify-center px-6 py-2 xl:py-4 font-bold transition-all rounded-lg gap-x-2'
  href='https://instagram.com/gabrie.dev'
  target='_blank'
  rel='noreferrer noopener'
>
  <InstagramSVG className='w-6 h-6' />
  Sígueme en Instagram
</a>
