<div class='col-span-2'>
  <div
    class='relative flex group hover:scale-105 hover:-rotate-1 transition-all'
  >
    <div
      class='absolute transitiona-all duration-1000 opacity-70 -inset-px bg-gradient-to-r from-pink-500 to-orange-400 rounded-xl blur-lg group-hover:opacity-100 group-hover:-inset-1 group-hover:duration-200 animate-tilt'
    >
    </div>
    <a
      href='#retos'
      class='text-xl relative flex-1 flex items-center justify-center px-8 py-4 font-bold text-white transition-all duration-200 bg-black/90 font-pj rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900'
      role='button'
    >
      ¡Veamos los retos!
    </a>
  </div>
</div>
