---
import LogoSVG from './icons/Logo.astro'
---

<a href='/' class='flex items-center space-x-3 rtl:space-x-reverse'>
  <LogoSVG className='h-8' />
  <span class='self-center text-2xl font-semibold whitespace-nowrap'>
    HackJS
  </span>
</a>
