---
import Avatar from './ui/Avatar.astro'
---

<button class='bg-transparent border-none'>
    <Avatar />
</button>

<div class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
    <div class="py-1">
        <button class="block px-4 py-2 text-sm text-gray-700">Cerrar sesión</button>
    </div>
</div>
